/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a{
  font-weight: bold;
}

a.active {
  color: orange;
}

a.btn.btn-default.myColor{
  margin-left: 1em;
  color: cornflowerblue;
  border-color: cornflowerblue;
}

form{
  color:cornflowerblue;
}

div.jumbotron{
  color: cornflowerblue;
}

nav {
  padding-top: 20px;
}

.my-table-bordered td{
  border: 1px solid lightblue;
  color: blue;
}
.table thead{
  background-color: cornflowerblue;
  color:white;
}

.table td{
  white-space:nowrap;
}

.table th{
  white-space:nowrap;
}
